@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* shared style */
.text-gray {
  color: rgb(137, 135, 161);
}
.text-light {
  color: rgba(0, 0, 0, 0.5);
  font-size: 22px;
}
.flex {
  display: flex;
}
.bg-light {
  background: rgb(245, 248, 255);
}
.center {
  text-align: center;
}
/* Navbar Style */

.nav-item {
  list-style: none;
  margin-right: 30px;
}
.nav-link {
  text-decoration: none;
}
.navbar {
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.navbar,
.banner {
  max-width: 1140px;
  margin: 0 auto;
}
.home {
  font-weight: 700;
}
/* Banner Related Style */
.banner-content {
  max-width: 1140px;
  margin: 0 auto;
  /* align-items: center; */
}
.banner-text {
  max-width: 570px;
}
.banner-title {
  font-size: 65px;
}
.fresh-flowers {
  color: rgb(233, 90, 8);
}
.banner-description {
  font-size: 22px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 0;
  width: 570px;
}
.banner-gap {
  gap: 20;
}
.banner-img {
  max-width: 570px;
}
.banner {
  margin-top: 200px;
}
/* our plants section start */
.plants-text {
  text-align: center;
  margin-top: 200px;
}
.our-plants {
  font-size: 50px;
}
.flower-name {
  font-weight: 500;
  font-size: 22px;
  color: rgb(17, 17, 17);
}
.flower-price {
  font-weight: 700;
  font-size: 22px;
  color: rgb(17, 17, 17);
}
.btn-primary {
  font-weight: 600;
  color: rgb(255, 255, 255);
  background-color: rgb(233, 90, 8);
  border: none;
  padding: 26px 50px;
  width: 270px;
  cursor: pointer;
}
.flower-card {
  width: 270px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.flower-card-container {
  max-width: 1140px;
  margin: 0 auto;
  align-items: center;
}
/* start lover section */
.lover-container {
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 200px;
  gap: 50px;
  margin-bottom: 50px;
}
.experience-badge img {
  max-width: 268px;
  max-height: 268px;
}
.experience-badge {
  position: absolute;
  top: -110px;
  left: 350px;
}
.shop-container {
  position: relative;
}
/* Latest deals section added */
.latest-deal {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 60px;
}
.deal-title {
  margin-bottom: -10px;
}
.deal-banner-container {
  display: flex;
  gap: 20px;
  max-width: 1140px;
  margin: 0 auto;
  background-color: #f5f8ff;
  padding: 20px;
  flex-wrap: wrap;
  text-align: center;
}

.left-banner {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}

.small-banner,
.right-banner {
  background-size: cover;
  background-position: center;
  color: white;
  padding: 20px;
  border-radius: 10px;
  font-family: sans-serif;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 120px;
}

.small-banner p,
.right-banner p {
  font-size: 18px;
  margin-bottom: 10px;
}

.small-banner a,
.right-banner a {
  font-size: 14px;
  color: white;
  text-decoration: underline;
  width: fit-content;
  font-weight: normal;
}

.banner1 {
  background-image: url("../assets/deal-bloom.png");
  height: 120px;
}

.banner2 {
  background-image: url("../assets/deal-ana.png");
  height: 120px;
}

.right-banner {
  background-image: url("../assets/deal-zabo.png");
  flex: 2;
  height: 290px;
}
/* start join massage section */
.join-message {
  color: rgb(255, 255, 255);
  margin-left: 40px;
  margin-bottom: 20px;
}
.email {
  max-width: 1440px;
  max-height: 50px;
  border: none;
  padding: 20px 200px;
}
.join-btn {
  max-width: 186px;
  padding: 20px 25px 20px 30px;
  cursor: pointer;
}
.join-section {
  background-image: url("../assets/news-letter-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 533px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
/* Footer section styles */
.footer-container {
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  padding: 40px 20px;
  box-sizing: border-box;
  align-items: start;
}
.menu-links {
  text-decoration: none;
}
.middle-menu {
  list-style: none;
  margin-top: 20px;
  margin-left: 50px;
}

.social-account {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  cursor: pointer;
}
ul li a {
  color: rgb(107, 114, 128);
  font-size: 22px;
}

/* Responsiv media quary */
/* iphone -14 pro max */
@media (max-width: 430px) {
  .iphone-hide {
    display: none;
  }

  .navbar {
    justify-content: space-between;
    padding: 0 20px;
  }

  .nav-links {
    width: auto;
    justify-content: space-between;
    align-items: center;
  }

  .cart-item {
    margin-left: auto;
  }

  .logo {
    width: 100px;
    height: auto;
  }
  /* banner */

  .banner {
    flex-direction: column-reverse;
    text-align: center;
    margin-top: 80px;
    gap: 20px;
    padding: 0 20px;
  }

  .banner-img {
    width: 100%;
    height: auto;
  }

  .banner-title {
    font-size: 35px;
    text-align: left;
  }

  .banner-description {
    font-size: 18px;
    width: 100%;
    text-align: left;
    margin-left: 5px;
  }
  .flower-card {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    justify-content: center;
  }

  .flower-card-container {
    padding: 0 16px;
  }

  .flower-card img {
    margin-left: 30px;
    width: 100%;
    height: auto;
  }

  .flower-card,
  h3,
  p,
  button {
    margin-left: 30px;
  }
  .btn-primary {
    width: 100%;
    padding: 12px 0;
  }
  /* lover section */
  .lover-container {
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding: 30px;
  }

  .shop-img {
    order: 1;
  }
  #beautiful-flower {
    width: 95%;
  }

  .experience-badge {
    display: none;
  }

  .lover-title h3 {
    order: 2;
    
    text-align: left;
    margin-top: 20px;
  }

  .plants-description {
    order: 3;
    padding:  0 0px;
    text-align: left;
    font-size: 18px;
  }
  /* join section */
  .join-section {
    padding: 30px 20px;
    height: auto;
    background-position: center;
    background-size: cover;
  }

  .join-message {
    margin-left: 0;
    font-size: 24px;
    text-align: center;
  }

  .input-email {
    display: flex;
    flex-direction: row;
    gap: 0px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 10px;
  }

  .email {
    flex: 1;
    padding: 16px;
    width: 60%;
    max-width: none;
  }

  .join-btn {
    padding: 15px 20px;
    white-space: nowrap;
    margin-left: 0;
  }

  /* footer section responsiv */
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin-left: 0px;
    padding: 0px;
    position: relative;
  }
  .footer-description {
    font-size: 14px;
  }

  .footer-logo {
    order: 1;
  }

  .menu-a {
    order: 2;
  }

  .menu-b {
    order: 3;
  }

  .social-account {
    order: 4;
    display: flex;
    /* justify-content: center; */
    gap: 15px;
    flex-wrap: wrap;
    margin-top: 10px;
    position: absolute;
    bottom: -30px;
    left: 50px;
  }

  .footer-logo img {
    width: 120px;
    height: auto;
    margin-bottom: 20px;
  }

  .middle-menu {
    margin: 20px 0;
  }
  .social-account img {
    width: 30px;
    height: 30px;
  }

  /* deal banner section */
  .deal-banner-container {
    flex-direction: column;
    /* padding: 40px 0; */
  }

  .left-banner {
    flex-direction: column;
  }

  .small-banner,
  .right-banner {
    width: 90%;
    height: auto;
    background-size: cover;
    background-position: center;
    /* padding: 40px 20px; */
  }

  .small-banner p,
  .right-banner p {
    font-size: 16px;
  }

  .small-banner a,
  .right-banner a {
    font-size: 14px;
  }

  .right-banner {
    height: auto;
    margin-top: 20px;
  }
}
