@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* shared style */
.text-gray {
  color: rgb(137, 135, 161);
}
.text-light {
  color: rgba(0, 0, 0, 0.5);
  font-size: 22px;
}
.flex {
  display: flex;
}
.bg-light {
  background: rgb(245, 248, 255);
}
.center {
  text-align: center;
}
/* Navbar Style */

.nav-item {
  list-style: none;
  margin-right: 30px;
}
.nav-link {
  text-decoration: none;
  /* margin-left: 10px; */
}
.navbar {
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.navbar,
.banner {
  max-width: 1140px;
  margin: 0 auto;
}
.home {
  font-weight: 700;
}
/* Banner Related Style */
.banner-content {
  max-width: 1140px;
  margin: 0 auto;
  /* align-items: center; */
}
.banner-text {
  max-width: 570px;
}
.banner-title {
  font-size: 65px;
}
.fresh-flowers {
  color: rgb(233, 90, 8);
}
.banner-description {
  font-size: 22px;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 0;
  width: 570px;
}
.banner-gap {
  gap: 20;
}
.banner-img {
  max-width: 570px;
}
.banner {
  margin-top: 200px;
}
/* our plants section start */
.plants-text {
  text-align: center;
  margin-top: 200px;
}
.our-plants {
  font-size: 50px;
}
.flower-name {
  font-weight: 500;
  font-size: 22px;
  color: rgb(17, 17, 17);
}
.flower-price {
  font-weight: 700;
  font-size: 22px;
  color: rgb(17, 17, 17);
}
.btn-primary {
  font-weight: 600;
  color: rgb(255, 255, 255);
  background-color: rgb(233, 90, 8);
  border: none;
  padding: 26px 50px;
  width: 270px;
  cursor: pointer;
}
.flower-card {
  width: 270px;
  /* height: 322.94px; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  gap: 20px;
}
.flower-card-container {
  max-width: 1140px;
  margin: 0 auto;
  align-items: center;
}
/* start lover section */
.lover-container {
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 200px;
  gap: 50px;
  margin-bottom: 50px;
}
.experience-badge img {
  max-width: 268px;
  max-height: 268px;
}
.experience-badge {
  position: absolute;
  top: -110px;
  left: 350px;
}
.shop-container {
  position: relative;
}

/* start join massage section */
.join-message {
  color: rgb(255, 255, 255);
  margin-left: 40px;
  margin-bottom: 20px;
}
.email {
  max-width: 1440px;
  max-height: 50px;
  border: none;
  padding: 20px 200px;
}
.join-btn {
  max-width: 186px;
  padding: 20px 25px 20px 30px;
  cursor: pointer;
}
.join-section {
  background-image: url("../assets/news-letter-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 533px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
/* Footer section styles */
.footer-container {
  max-width: 1440px;
  max-height: 248px;
  /* border: 2px solid red; */
  margin: 0 auto;
  /* display: flex; */
  /* justify-content: space-around; */
  /* flex-direction: column;
   */
  /* justify-content: flex-start; */
  /* align-items: flex-start; */
  /* gap: 110px; */
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
  align-items: start;
  /* grid-column: auto; */
}
.menu-links {
  text-decoration: none;

  /* gap: 30px;
   */
}
.middle-menu {
  list-style: none;
  margin-top: 20px;
  margin-left: 50px;
}
/* a{

   gap: 200px;
} */
.menu-a {
  /* justify-content: space-between; */
}
.social-account {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  cursor: pointer;
}
ul li a {
  color: rgb(107, 114, 128);
  font-size: 22px;
}
